//background

//body
body {
    background: url(/images/mobilepaper/black3.jpeg);
    background-attachment: fixed;
    background-size: cover;
}


///////////////////////////////////////////////////////////////////////////

.headband {
    height: 0px;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
}

.header {
    line-height: 1; 
    background: url(/images/black.jpeg);
}


.header-inner {
    padding-top: 5px;
    padding-bottom: 0px;
}
.posts-expand {
    padding-top: 80px;
    background-color: #f9f9f966;
}
.posts-expand .post-meta {
    margin: 5px 0px 0px 0px;
}

.container .header-inner {
    width: 100%;
}

.brand {
    margin-top: 15px
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//site configuration
.brand{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 15px;
    padding: 0px;
}
.site-title {
    font-size: 45px;
    font-weight: initial;
    color: #fff;
    line-height: 60px;
    letter-spacing: 60px;
    border-top: dashed;
    border-bottom: dashed;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding-left: 50px;
}
.site-subtitle {
    margin: 0px;
    font-size: 18px;
    letter-spacing: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: initial;
    font-family: Comic Sans MS;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//menu
.menu {
    text-align: center;
    margin: 0 0 0 0;
    padding: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.74);
    margin-left: auto;
    margin-right: auto;
}
.menu .menu-item a {
    display: block;
    font-size: 14px;
    line-height: inherit;
    transition-property: border-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    color: white;
    text-decoration: none;
    outline: #f9f9f9;
    background-color: transparent;
}
.menu .menu-item {
    margin: 5px 15px;
}
.menu .menu-item a:hover {
    border-bottom-color: rgba(161, 102, 171, 0);
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.post {
    margin-bottom: 10px;
    padding: 10px 36px 10px 36px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    background-color: #fff;
}

.posts-expand {
    padding-top: 80px;
    background-color: rgb(249, 249, 249);
}

.posts-expand .post-title {
    font-size: 26px;
    font-weight: 700;
}

.posts-expand .post-tags a {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: aqua;
}

.posts-expand .post-title-link::before {
    background: url(/images/black.jpeg);
}
.pagination {
    border: none;
    margin: 0px;
}
.post-nav-item a {
    color: #fff;
    font-weight: bold;
}
.post-nav-item a:hover {
    color: rgb(161, 102, 171);
    font-weight: bold;
}

.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}
.sidebar-toggle {
    right: 10px;
    bottom: 43px;
    background-color: rgba(247, 149, 51, 0.75);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.page-post-detail .sidebar-toggle-line {
    background: rgb(7, 179, 155);
}

//modify post page size
.main-inner {
    width: 1024px;
}

//archive page
.posts-collapse .collection-title h1, .posts-collapse .collection-title h2 {
    color: #5CB885;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//back to top

.back-to-top.back-to-top-on {
    bottom: 10px;
    display: block;
}

.back-to-top {
    color: chartreuse;
    line-height: 2;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//footer
.footer {
    line-height: 1;
    background-color: #f9f9f982;
    color: #222;
}

.pagination .page-number.current {
    border-radius: 100%;
    color: chartreuse;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: #222;
}

.pagination .page-number, .pagination .space {
    display: inline-block;
    color: #5cb85c;
    position: relative;
    top: -1px;
    margin: 0 10px;
    padding: 0 11px;
}

//Leopold-Seagal
.fa-tint:before {
    content: "\f043";
    color: black;
}

.post-tags {
    background: url(/images/black.jpeg);
    background-attachment: contain;
}


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//sidebar

.sidebar a {
    color: #55dae1;
}
.feed-link a {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #55dae1;
    border-radius: 3px;
    font-size: 13px;
    color: #55dae1;
}

.fa-rss:before {
    content: "\f09e";
    color: #5ddae1;
}

//display links' border-bottom
.links-of-blogroll-item a {
    color: #5fd2cd96;
    border-bottom: none;
}

.sidebar-inner {
    position: relative;
    padding: 20px 10px;
    color: #55dae1;
    text-align: center;
    background: url(/images/black.jpeg);
}

.sidebar-toggle {
    right: 10px;
    bottom: 43px;
    background-color: rgba(247,149,51,.75);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.35);
    position: fixed;
    width: 14px;
    height: 14px;
    padding: 5px;
    background: #222;
    line-height: 0;
    z-index: 1050;
    cursor: pointer;
}

.site-author-image {
    display: block;
    margin: 10px auto;
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////
// mobile configuration

@media (max-width: 1023px) {
    .container {
        background-color: rgba(0, 0, 0, 0);
    }
    .sidebar {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .feed-link {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .main {
        padding-bottom: 120px;
	background: url(/images/mobilepaper/black2.jpeg);
	background-attachment: fixed;
	background-size: cover;
    }
    .posts-expand {
        margin: 0px;
        padding-top: 70px;
    }
    .posts-expand .post-title {
        font-size: 22px;
    }
    .posts-expand .post-meta {
        font-size: 10px;
    }
    .post {
        margin-bottom: 30px !important;
        padding: 20px 15px 15px 15px !important;
    }
    .post-body h2, h3, h4, h5, h6 {
        margin-left: -15px;
        padding-left: 11px;
    }
    .posts-expand .post-tags {
        margin-top: 10px;
    }
    .post-widgets {
        margin-top: 10px;
    }
    .comments {
        margin: 40px 0px 40px 0px !important;
    }
    .footer {
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    }
}
.sidebar-active #sidebar-dimmer {
    opacity: 0;
}
.site-nav-toggle {
    top: 35px;
    left: 10px;
}
.btn-bar {
    background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
    .menu {
        text-align: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .site-nav {
        top: initial;
        background-color: rgba(255, 255, 255, 0.75);
        border-top: none;
        border-bottom: none;
        position: relative;
        z-index: 1024;
    }
}
@media (max-width: 767px) {
    .site-title {
        font-size: 70px !important;
        letter-spacing: 0px !important;
    }
    .site-subtitle{
        letter-spacing: 0px !important;
        padding-bottom: 0px !important;
    }
    .site-meta {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .menu .menu-item {
        margin: 0px 10px !important;
    }
}

///////////////////////////////////////////////////////////////

//links display

.links-of-blogroll-item {
    padding: 2px 10px;
    display: inline-block;
}
